<!DOCTYPE html>
<html>
  <title>Beacon Manager</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/static/js/beacons.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/libs/flat-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css" />

</html>

<body>
  <div class="container">
    <h1>Beacon Data edit</h1>
    <p>Enter custom data returned for this beacon<p>
    <form method="POST">
      <textarea rows="5" cols="80" name="data"></textarea>
      <p><input type="submit" value="Save data" class="btn btn-primary" /></p>
    </form>
  </div>

  <script src="/static/js/libs/jquery-1.8.3.min.js"></script>
  <script src="/static/js/libs/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="/static/js/libs/jquery.ui.touch-punch.min.js"></script>
  <script src="/static/js/libs/bootstrap.min.js"></script>
  <script src="/static/js/libs/bootstrap-select.js"></script>
  <script src="/static/js/libs/bootstrap-switch.js"></script>
  <script src="/static/js/libs/flatui-checkbox.js"></script>
  <script src="/static/js/libs/flatui-radio.js"></script>
  <script src="/static/js/libs/jquery.tagsinput.js"></script>
  <script src="/static/js/libs/jquery.placeholder.js"></script>

</body>
</html>