body {
    font-family: 'Lato', sans-serif;
}

.beacons {
    text-align: center;
}

.beacon {
    margin: 1em 1em 1em 0;
    display: none;
    width: 400px;
    height: 140px;
    padding: 1em;
    float: left;
}

.beacon ul {
    list-style-type: none;
    padding: 0;
}

.beacon_proximity {
    color: #f20;
    text-transform: uppercase;
}
.proximity_far .beacon_proximity {
    color: #fff;
}

#active_users {
    font-style: italic;
}

.clear {
    clear: both;
}

.proximity_far {
    background-color: #e74c3c;
}
.proximity_near {
    background-color: #f1c40f;;
}
.proximity_immediate {
    background-color: #2ecc71;
}
